<header role="banner">
  <NavbarHeader @burger={{burger}} />
  <Tutorials::Header @onTriggerFilterButton={{this.displaySidebar}} />
</header>

<main id="main" class="main" role="main">
  <PixSidebar @title="Filtrer" @showSidebar={{this.isSidebarVisible}} @onClose={{this.closeSidebar}}></PixSidebar>
  <div class="user-tutorials-content-v2">
    {{#if @model.meta.rowCount}}
      <div class="user-tutorials-content-v2__container">
        <Tutorials::Cards @tutorials={{@model}} @afterRemove={{this.refresh}} />
        <PixPagination @pagination={{@model.meta}} @pageOptions={{this.pageOptions}} @isCondensed="true" />
      </div>
    {{else}}
      <Tutorials::SavedEmpty />
    {{/if}}
  </div>
</main>