<pix-banner type="error" can-close-banner="true" {{on "close" this.close}}>alerte rouge</pix-banner>

<header class="page-header">
  <h1 class="page-title">Tous les profils cibles</h1>
  <div class="page-actions">
    <PixButton
      @route="authenticated.target-profiles.new"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      class="pix-button__secondary"
    >
      <FaIcon @icon="plus" />Nouveau profil cible
    </PixButton>
  </div>
</header>

<main class="page-body">
  <hello-world first="Aurélie" last="Crouillebois"></hello-world>
  <section class="page-section">
    <TargetProfiles::ListSummaryItems
      @summaries={{@model}}
      @id={{this.id}}
      @name={{this.name}}
      @triggerFiltering={{this.triggerFiltering}}
    />
  </section>
</main>